nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 1vw;
    z-index: 2;
}

nav ul {
    width: 25vw;
    min-width: 220px; 
    padding: 0px;
    margin-top: 0;
    margin-right: 10vw;
    list-style-type: none;
    display: flex;
    text-align: center;
    background-color: #242424;
    border-radius: 10px;
}

li {
    margin: 0px 10px;
    flex-grow: 1;

}

li a {
    color: wheat;
    flex-grow: 1;
}

li a:hover {
    color: #242424;
    background-color: goldenrod;
    border-radius: 5px;
    flex-grow: 1;
}