@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

h1 {
    font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
    font-size: 72px;    
    position: relative;
    top: -.8cm;
    margin-left: 1.5cm;
    margin-bottom: .5cm;

}

#profile-container {
    height: 150px;    
    pointer-events: auto;
}

.socials-container {
    position: relative;
    top: -30px;
    margin-left: 1.5cm;
    display: flexbox;
    flex-grow: 1;
}

.socials-container a {
    color: wheat;
    margin-right: 1cm;
    transition: color 0.1s ease, background-color 0.1s ease, border-radius 0.1s ease;
}

.socials-container a:hover {
    color: #242424;
    background-color: goldenrod;
    border-radius: 5px;
}