.contacts-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-top: 5cm;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#contacts-header {
  margin: 0.5cm;
}

input,
textarea {
  width: calc(100% - (10px * 2));
  padding: 8px;
  margin: 10px auto;
}

textarea {
  height: 5cm;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px auto; 
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .aboutme-text {
      margin: 0;
  }

  #contacts-header {
      margin: 0;
  }

  .contacts-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: 5cm;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}